extends ../layout

block content
    div.well
        form.form-inline
            div.form-group
                label.sr-only(for='titleFilter') Title
                input#titleFilter.form-control(type='text', placeholder='Title')

    table.table
        thead
            tr
                th Title
        tbody
            each acmi in acmis
                tr
                    td=acmi.title
