div(ng-controller='AcmiController as vm').acmi-details
    div.panel.panel-default(ng-repeat='acmi in vm.acmis')
        div.panel-heading
            span.acmi-header {{ acmi.title }}
            a.pull-right(href='{{ acmi.downloadPath() }}'
                download=true)
                i.glyphicon.glyphicon-download
        div.panel-body
            div.container-fluid
                div.row.summary-row
                    div.col-sm-8
                        h5 Details
                        | {{ acmi.details | words: 30 }}
                    div.col-sm-4
                        h5 Pilots
                        | {{ acmi.pilots.join(', ') }}
                div.row.detail-row-top
                    div.col-sm-8
                        span.tag-header Theater
                        span.mission-details {{ acmi.theater }}
                    div.col-sm-4
                        span.tag-header Mission Type
                        span.mission-details {{ acmi.missionType }}
                div.row.detail-row
                    div.col-sm-8
                        span.tag-header Tags
                        span.tag-list {{ acmi.tags.join(', ') }}
                    div.col-sm-4
                        span.uploaded-header Uploaded
                        span.uploaded-date {{ acmi.uploadedAt | date: 'MMM d, y h:mm a' }}
nav
    uib-pagination(ng-model='vm.currentPage' total-items='vm.totalAcmis' max-size=5 boundary-links='true'
        previous-text!='&lsaquo;' next-text!='&rsaquo;' first-text!='&laquo;' last-text!='&raquo;'
        items-per-page='vm.pageSize' ng-change='vm.pageChanged()')
