doctype html
html
    head
        link(rel='stylesheet' href='misrep/#{appCss}' type='text/css')
        title 27th VFW Misrep
    body(ng-app='27th.misrep' ng-controller='AppController as app')
        div(ng-viewport='topnav')
        div.container-fluid
            div.row
                div.col-sm-3.col-md-2.sidebar
                    div(ng-viewport='sidebar')
                div.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
                    alert-container
                    div(ng-viewport)

        script(src='misrep/#{appJs}' type='application/javascript')
