nav.navbar.navbar-inverse.navbar-fixed-top
    div.container-fluid
        div.navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar',
            aria-expanded='false', aria-controls='navbar')
            a.navbar-brand(ng-link='log') Misrep
        div#navbar.navbar-collapse.collapse
            ul.nav.navbar-nav
