form.form-horizontal(name='loginForm')
    div.form-group
        label.col-sm-3.control-label(for='email') E-mail
        div.col-sm-9
            input.form-control(type='email' id='email' ng-model='vm.email' ng-required='true')
    div.form-group
        label.col-sm-3.control-label(for='password') Password
        div.col-sm-9
            input.form-control(type='password' id='password' ng-model='vm.password' ng-required='true')
    div.form-group
        div.col-sm-offset-3.col-sm-9
            button.btn.btn-success(type='submit' ng-click='vm.login()'
            ng-disabled='vm.$invalid') Login
